<div>
    <label>Labels:</label>
    <ul>
        <li>Label: {{foo.label}}</li>
        <li>vm.label: {{foo.label}}</li>
        <li>Label2: {{foo.label2}}</li>
        <li>Label3: {{foo.label3}}</li>
    </ul>

    <p>Info-bind: {{foo.info}}</p>
    <p>Info-unbind {{::foo.info}}</p> <!-- The syntax {{::info}} will only bind the value "on load" and never update again (aka no $watcher is added) -->
    <p>More-info: {{foo.moreInfo}}</p>
    <p>Link-value: {{foo.valueFromLink}}</p>
    <label>Label:</label>
    <input type="text" ng-model="foo.label" />

    <label>Details:</label>
    <input type="text" ng-model="foo.details" />

    <button ng-click="foo.onUpdateClicked(foo,bar)">Update</button>

    <ul>
        <li ng-repeat="item in items"></li>
    </ul>
</div>