@import "Partials/_variables";

nav {
    background: #56b660;
    padding: 10px;

    ul {
        width: 130rem;
        margin: 0 auto;

        li {
            display: inline-block;
            padding: 0 15px;

            a {
                color: #fff;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

main {
    width:130rem;
    margin: 30px auto;
}
